/* <!--
Code Borrowed from: http://bootdey.com/
Author: Awais Akram
Creation Date: 21.03.2021
--> */
body {
  padding: 8px;
  margin-top: 5px;
  /* color: #1a202c; */
  text-align: left;
  /* background-color: #e2e8f0; */
}

.nav-container {
  position: relative;
}

.container {
  text-align: center;
}

.footer-center {
  text-align: center;
}

.row {
  text-align: left;
}

.overlay {
  opacity: 1;
  /* background-color: rgba(255, 255, 255, 0.5); */
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.main-body {
  width: 100%;
  top: 8px;
  left: 8px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}

.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  /* background-color: #e2e8f0; */
}

.h-100 {
  height: 100% !important;
}

.shadow-none {
  box-shadow: none !important;
}

.indicator.online {
  background: #28B62C;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-animation: pulse-animation 2s infinite linear;
}

@-webkit-keyframes pulse-animation {
  0% {
    -webkit-transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2)
  }

  75% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

.indicator.unKnown {
  background: #e6af5f;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-animation: pulse-animation 2s infinite linear;
}

.indicator.offline {
  background: #FF4136;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-animation: pulse-animation 2s infinite linear;
}

label {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 2.2em;
  width: 4.5em;
  border: 5px solid gray;
  border-radius: 10em;
  background-color: white;
  /* box-shadow: 0px 10px 25px #e4e7ec; */
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot {
  background-color: #374151;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-button {
  transform: translate(2.5em, 0.25em);
  position: absolute;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #ffc107;
  /* box-shadow: inset 0px 0px 0px 0.8em #ffbb52; */
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
  background-color: #fff;
  /* box-shadow: inset 0px 0px 0px 0.75em white; */
  transform: translate(0.5em, 0.25em);
}

.sun-icon {
  position: absolute;
  height: 1.2em;
  width: 1.2em;
  color: #ffc107;
}

.sun-icon-wrapper {
  position: absolute;
  height: 1.8em;
  width: 1.8em;
  opacity: 1;
  transform: translate(-0.3em, 0.01em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 1em) rotate(-15deg);
}

.moon-icon {
  position: absolute;
  height: 1.2em;
  width: 1.2em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 1.8em;
  width: 1.8em;
  opacity: 0;
  transform: translate(1em, 1.5em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2.5, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(1.5em, 0.25em) rotate(-15deg);
}