@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");


* {
    box-sizing: border-box;
}

body {
    /* height: 100vh;
    width: 90vh;
    background-color: #f2f3ef;*/
    margin-left: 10%;
    margin-top: 12%;
    font-family: 'Red Hat Text', sans-serif;
    /* Gradient background */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#2E4C5C), to(#4d5d53)) fixed; */
    background-image: url('bg-image.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Timer CSS */
.bday-timer {
    display: flex;
    color: #34495e;
}

@media all and (max-width: 500px) {

    .bday-timer {
        display: grid;
        max-width: 40vh;
        text-align: center;
    }

    #form {
        display: grid;
        width: 40%;
        margin-bottom: 20%;

    }

    h1 {
        display: grid;
    }

    body {
        width: 70vh;
    }
}

.days-container {
    /* border: black solid 1px; */
    background-color: #fdfeff;
    text-align: center;
    padding: 4%;
    margin: 2%;
    box-shadow: 10px 10px 5px #999999;
}

.days-container:hover {
    transform: translateY(-7px);
    transition: 0.3s;
}

.hours-container {
    box-shadow: 10px 10px 5px #C0C0C0;
    background-color: #fdfeff;
    text-align: center;
    padding: 4%;
    margin: 2%;
}

.hours-container:hover {
    transform: translateY(-7px);
    transition: 0.3s;
}

.minutes-container {
    box-shadow: 10px 10px 5px #C0C0C0;
    background-color: #fdfeff;
    text-align: center;
    padding: 4%;
    margin: 2%;
}

.minutes-container:hover {
    transform: translateY(-7px);
    transition: 0.3s;
}

.seconds-container {
    box-shadow: 10px 10px 5px #C0C0C0;
    background-color: #fdfeff;
    text-align: center;
    padding: 4%;
    margin: 2%;
}

.seconds-container:hover {
    transform: translateY(-7px);
    transition: 0.3s;
}

.big-text {
    font-size: 6rem;
    margin: 0 2rem;
    line-height: 1;
    font-weight: bold;
}

h1 {
    color: #fdfeff;
    font-size: 50px;
}

h1 span {
    color: skyblue;
}


/* Snowflakes */

#snow-container {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
}

.snow {
    animation: fall ease-in infinite, sway ease-in-out infinite;
    color: skyblue;
    position: absolute;
}

@keyframes fall {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: 100vh;
        opacity: 1;
    }
}

@keyframes sway {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 50px;
    }

    50% {
        margin-left: -50px;
    }

    75% {
        margin-left: 50px;
    }

    100% {
        margin-left: 0;
    }
}