/* <!--
Code Borrowed from: http://bootdey.com/
Author: Awais Akram
Creation Date: 21.03.2021
--> */
html {
  width: 100%;
  height: 100%;
}

body {
  padding: 8px;
  margin-top: 5px;
  /* color: #1a202c; */
  text-align: center;
  /* background-color: #e2e8f0; */
  /* Height of the footer */
  padding-bottom: 40px;
}

.nav-container {
  position: relative;
}

button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.footer-center {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Height of the footer */
  height: 40px;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.img-fluid.customWidth {
  width: 40%;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
}

label {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 2.2em;
  width: 4.5em;
  border: 5px solid #e4e7ec;
  border-radius: 10em;
  background-color: white;
  /* box-shadow: 0px 10px 25px #e4e7ec; */
  transition: background-color 250ms;
}

.toggle-checkbox:checked~.toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(2.5em, 0.25em);
  position: absolute;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #ffeccf;
  /* box-shadow: inset 0px 0px 0px 0.8em #ffbb52; */
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
  background-color: #485367;
  /* box-shadow: inset 0px 0px 0px 0.75em white; */
  transform: translate(0.5em, 0.25em);
}

.sun-icon {
  position: absolute;
  height: 1.2em;
  width: 1.2em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 1.8em;
  width: 1.8em;
  opacity: 1;
  transform: translate(-0.3em, 0.01em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 1em) rotate(-15deg);
}

.moon-icon {
  position: absolute;
  height: 1.2em;
  width: 1.2em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 1.8em;
  width: 1.8em;
  opacity: 0;
  transform: translate(1em, 1.5em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2.5, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(1.5em, 0.25em) rotate(-15deg);
}